<!-- views/reactMount.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>React page</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <div id="react-target"></div>
    <!-- Element where React will mount -->

    <script type="module" src="/assets/main-C89WhHLi.js"></script>
</body>
</html>