<!-- views/reactMount.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>React page</title>
    <link rel="stylesheet" href="/assets/main-B2-ohxCh.css">
</head>
<body>
    <div id="react-target" class="flex-grow-1"></div>

    <script type="module" src="/assets/main-D_zn99vx.js"></script>
</body>
</html>